<div class="tasks-list">
    <div class="tasks-header">
        <h2>Tasks List</h2>
        @if (!showForm) {
            <button class="add-task-btn" (click)="onAddTask()">
                <i class="fas fa-plus"></i>
                Add Task
            </button>
        }
    </div>
    
    @if (showForm) {
        <app-task-form (taskAdded)="onTaskAdded()"></app-task-form>
    }
    
    @for(task of taskslist$ | async; track task.id) {
        <app-task [task]="task"></app-task>
    }
</div>